

<style type="text/css">
body {
 background-color: white;
 color: black;
}
H1 {
 text-align: left
 font: bold italic 150% sans-serif;
 color: black;
}
ul.errorlist {
  margin: 5px;
  padding: 10px;
}
.errorlist li {
 background-color: white;
 color: red;
 display: block;
 text-align: left;
 font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
 font-size: 12px;
 margin:2px 0px 5px 0px;
 padding:0px 0px 0px 0px;
}
</style>

<html>
  <head>
    <title> MSAvis </title>
  </head>
  <body>
      <a href="http://www.ibb.waw.pl"><img src="http://www.ibb.waw.pl/themes/ibb/logo.png" border=0></a>
      <h1>MSA visualization</h1>

<form action="/msa_vis/" method="POST" enctype="multipart/form-data" >

        <table cellpadding="1" cellspacing="1">
        <td bgcolor="#2E8B57" width="650">
        <font color="#DCDCDC"><b>Input</b></font>
        </table>

        <div class="fieldWrapper">
	    
	  <br>  {{form.sequences.help_text}} </br>
            {{ form.sequences.errors }}
		{{form.sequences}}
        </div>



        <div class="fieldWrapper">
	    
	  <br>  {{form.upload_file.help_text}}</br>
            {{ form.upload_file.errors }}
		{{form.upload_file}}
        </div>

        <p></p>
        <table cellpadding="1" cellspacing="1">
        <td bgcolor="#2E8B57" width="650">
        <font color="#DCDCDC"><b>Options</b></font>
        </table>

        <div class="fieldWrapper">

	  <br>  {{form.email.help_text}}</br>
            {{ form.email.errors }}
		{{form.email}}
        </div>


        <div class="fieldWrapper">

	  <br>  {{form.linewidth.help_text}}</br>
            {{ form.linewidth.errors }}
		{{form.linewidth}}
        </div>


        <div class="fieldWrapper">

	   <br> {{form.choice.help_text}}</br>
            {{ form.choice.errors }}
		{{form.choice}}
        </div>

    <p><input type="submit" value="Submit!"/></p>
</form>

   <p><a href="/msa_vis/">Refresh</a></p>
  </body> 
</html>
