 
<html>
  <head>
    <title> MSAvis </title>
  </head>
  <body>
      <a href="http://www.ibb.waw.pl"><img src="http://www.ibb.waw.pl/themes/ibb/logo.png" border=0></a>
      <h1>MSA visualization </h1>
      <table cellpadding="1" cellspacing="1">
      <td bgcolor="#2E8B57" width="600">
      <font color="#DCDCDC"><b>Sorry</b></font>
      </table>
      <pre>Query with job ID {{jobID}} does not exist.</pre>
      <br>
      <form><input type="button" value="New MSA visualization" onClick="window.location.href='/msa_vis'"></form>
  </body>
</html>