<html>
  <head>
    <title> MSAvis </title>
  </head>
  <body>
      <a href="http://www.ibb.waw.pl"><img src="http://www.ibb.waw.pl/themes/ibb/logo.png" border=0></a>
      <h1>MSA visualization </h1>
      <table cellpadding="1" cellspacing="1">
      <td bgcolor="#2E8B57" width="600">
      <font color="#DCDCDC"><b>Result</b></font>
      </table>
      <p>
      <pre>JobID: {{jobID}}       Date: {{date}} CEST</pre>
      </p>
      <p> Result:
      </p>
      <p>
      <a href="/static/uploaded_files/finalMSAvis{{jobID}}.svg"><img src="/static/uploaded_files/finalMSAvis{{jobID}}.svg" alt="finalMSAvis{{jobID}}.svg" width=1000 high=200 />
      </p>
      <p>
      <table cellpadding="1" cellspacing="1">
      <td bgcolor="#2E8B57" width="600">
      <font color="#DCDCDC"><b>Options</b></font>
      </table>
      </p>
      <p><a href="/static/uploaded_files/finalMSAvis{{jobID}}.svg" target=_blank>Full screen svg</a></p>
      <form><input type="button" value="New MSA visualization" onClick="window.location.href='/msa_vis'"></form>

      <script type="text/javascript">
      if (window.print) {
         document.write('<input type="button" onclick="window.print()"'+
                   ' value="Print This Page">'); }
      </script>
  </body>
</html>